[unit]
Description=FumeBot Main Service
After=multi-user.target

[Service]
Type=idle
Restart=always
WorkingDirectory=/home/pi/FumeBot-Rpi3B/
ExecStart=/usr/bin/python2 /home/pi/FumeBot-Rpi3B/FumeBotMain.py

[Install]
WantedBy=multi-user.target

